@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --light:#fff;
    --dark:#181b24;
    --grey:#899495;
    --orange:#fc5129;
    --SectionGrey:#f2f2f2;
}

.nav{
    background: var(--light);
}

body{
    font-family: 'Roboto Mono',monospace;


}